SECRET_KEY=your-secret-key-here

# 局域网 IP，多个用逗号分隔（用 ipconfig 查看）
ALLOWED_HOSTS=192.168.1.5

# DEBUG 生产环境需改为 False
DEBUG=True

DB_NAME=bookmark_v2
DB_USER=root
DB_PASSWORD=your-db-password
DB_HOST=127.0.0.1
DB_PORT=3306

# 支付宝配置（沙盒环境：ALIPAY_SANDBOX=True，生产环境：ALIPAY_SANDBOX=False）
ALIPAY_APP_ID=your-alipay-app-id
ALIPAY_PRIVATE_KEY=your-app-private-key
ALIPAY_PUBLIC_KEY=your-alipay-public-key
ALIPAY_SANDBOX=True
